{% extends 'temp_index.html.twig' %}

{% block title %}Depot index{% endblock %}

{% block body %}
    <h1>Depot index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Date_depot</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for depot in depots %}
            <tr>
                <td>{{ depot.id }}</td>
                <td>{{ depot.montant }}</td>
                <td>{{ depot.dateDepot ? depot.dateDepot|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_depot_show', {'id': depot.id}) }}">show</a>
                    <a href="{{ path('app_depot_edit', {'id': depot.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_depot_new') }}">Create new</a>
{% endblock %}
