{% extends 'temp_index.html.twig' %}

{% block title %}Tontines{% endblock %}

{% block body %}
    <h1>Tontines</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tontine.id }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ tontine.DateDebut ? tontine.DateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_cloture</th>
                <td>{{ tontine.DateCloture ? tontine.DateCloture|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ tontine.Montant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tontines_index') }}">back to list</a>

    <a href="{{ path('app_tontines_edit', {'id': tontine.id}) }}">edit</a>

    {{ include('tontines/_delete_form.html.twig') }}
{% endblock %}
